<div class="wrapper">
  <div *ngIf="notSupported" id="notSupported">
    Sorry, Web Serial is not supported on this device, make sure you're running
    Chrome 78 or later and have enabled the
    #enable-experimental-web-platform-features flag in chrome://flags
  </div>
  <div>
    <button id="connect" (click)="connect()">Connect</button>
  </div>
  <div #log id="log">{{ logText }}</div>
  <div>
    <input id="input" type="text" (keyup)="onKey($event)" [disabled]="inputFieldDisabled" />
    <button id="sendButton" onClick="send()" [disabled]="inputFieldDisabled">Send</button>
  </div>
</div>
